* {
    margin: 0;
    box-sizing: border-box;
}

html {
    margin: 0
}

body {
    background-color: orange!important;
    color: whitesmoke!important;
}

i {
    transition: .1s all;
    color: black
}

i:hover {
    transition: .1s all;
    color: whitesmoke;
}

.picture {
    background-image: url("douchePicture.jpg");
    min-height: 534px;
    width: 803px;
    background-position: center;
    background-repeat: no-repeat;
    justify-self: center;
}

#main {
    display: flex;
    flex-direction: column;
}

.textBody {
    text-align: center;
    font-size: 25px;
    padding-right: 25%;
    padding-left: 25%;
    padding-top: 50px;
}

.title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
    color: black;
}

.display-1 {
    font-weight: bold!important;
}

#courtLink {
    text-decoration: none;
    color: whitesmoke!important;
}

#courtLink:hover {
    color: whitesmoke!important;
}

@media screen and (max-width: 640px){
    #footer {
        background-color: rgba(0, 0, 0, .1);
    }

    .display-1 {
        padding-top: 20px;
        font-size: 50px!important;
    }

    .title {
        margin-bottom: 20px;
    }
}